@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

$basicMargin: 8px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

//html {
//  font-size: calc(16px + (18 - 16) * ((100vw - 1000px) / (1200 - 1000))); // 16px
//}

body, input, button {
  font-family: 'Raleway', sans-serif;
}



//@media all and (max-width: 1000px) {
//  html {
//    font-size: 16px;
//  }
//}